.contact-form-lead {
    padding-top: 12rem;
    margin-bottom: 5rem;

    h1 {
        text-align: center;
        color: $colour-1;
        font-family: $title;
        font-weight: 700;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    p {
        color: $colour-2;
        text-align: center;
        margin: 0 auto;
    }
}

.contact-form-container {
    color: $colour-3;
    margin-bottom: 2rem;

    label {
        font-size: $normal-text-size;
    }

    input,
    textarea {
        font-size: $normal-text-size;
        background-color: rgba($colour-2, 0.2);
        color: $colour-2;
        border-radius: 0;
    }

    &__search-wrapper {
        @include flexbox;
        padding: 2rem 0;

        button {
            background-color: $colour-1;
            width: 10rem;
            height: 4rem;
            font-size: 1.6rem;
            border: 0;
            border-radius: 1rem;
            outline: 0;
            color: $white;
            cursor: pointer;

            &:hover {
                background-color: rgba($colour-1, 0.7);
            }
        }
    }

    .form-group > p {
        padding-top: 1rem;
    }
}


@media (min-width: $mobile-width) {
    .contact-form-lead {
        p {
            max-width: 70%;
        }
    }

    form {
        max-width: 90%;
        margin: 0 auto;
    }
}

//Remove default check icon from ticked checkbox 
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url();
}

//Change default colour and bg colour of ticked checkbox 
.custom-control-input:checked~.custom-control-label::before {
    color: $white;
    border-color: $colour-1;
    background-color: $white;
}

//Change default colour and bg colour of marked radio button
#optin:checked~ #label-radio::before {
    color: $white;
    border-color: $colour-1;
    background-color: $colour-1;
}