.contact-form-lead {
    padding-top: 12rem;
    margin-bottom: 5rem;

    h1 {
        text-align: center;
        color: $colour-1;
        font-family: $title;
        font-weight: 700;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    p {
        color: $colour-2;
        text-align: center;
        max-width: 70%;
        margin: 0 auto;
    }
}