//
// Inspiration Section
//

.inspiration-container {
    background-color: rgba($colour-1, 0.8);

    h2 {
        font-size: 3rem;
        font-family: $title;
        color: $white;
        text-align: center;
        padding-top: 5rem;
    }

    h3 {
        color: $white;
        text-align: center;
        padding: 4rem 0;
        font-size: 2rem;
    }
}

.block-divider {

    svg {

        background: 0 0 !important;
        height: 6vw;
    
        path {
            fill: rgba($colour-1, 0.8);
        }
    }
    
}

