//
// Inspiration Section
//

.inspiration-container {
    &__wrapper {
        background-color: $white;
        padding: 4rem 0;
        margin: -8rem 0 2rem;
        border-left: 0.4rem solid rgba($colour-1,0.95);
        border-bottom: 0.4rem solid rgba($colour-1,0.3);

        h2 {
            font-size: 3rem;
            font-family: $title;
            color: $colour-1;
            font-weight: 500;
        }
    
        p {
            color: $colour-2;
        }

        @include bp(mobile) {
            max-width: 70%; 
        }
    }

    &__wrapper-title {
        padding: 0 1.5rem;
    }

    &__heading {
        padding-left: 1rem;

        h3 {
            color: $colour-1;
            padding: 4rem 0 1rem 0;
            font-size: 2rem;
            font-weight: 700;
        }
    
        p {
            padding-bottom: 4rem;
            margin: 0 auto;
            color: $colour-2;
        }
    }

    &__swiper {
        margin-bottom: 2rem;
    }
}

.inspiration-container__card {
    text-align: center;
    padding: 0;
    border: 0;

    img {
        border-radius: 50%;
        width: 70%;
        margin: 0 auto;
    }

    h5 {
        font-size: 1.5rem;
        color: $colour-2;
        padding: 1rem 0;
        font-weight: 400;
    }

    a {
        color: $colour-2;
        font-size: 1rem;
        text-decoration: underline;
        letter-spacing: 0.2rem;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
}

.block-divider-image {
  background: url("../images/anna-pelzer-unsplash.jpg") no-repeat fixed center;
  min-height: 20rem; 
  background-size: cover;
}

//Swiper
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-next, 
  .swiper-button-prev {
    i {
        font-size: 2.5rem;
        color: $colour-2;
    }
  }

//Remove default arrow from Swiper
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: '';
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: '';
}

//Remove default left/right spacing from arrow Swiper
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 0;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 0;
}

//Remove default style from card 
.card-body {
    padding: 0;
}

//Arrows at the bottom of the swiper
.swiper-button-next, .swiper-button-prev {
    position: inherit;
    align-items: baseline;
    height: 2.2rem;
    width: 3rem;

    &:focus {
        color: $colour-2;
    }
}