//
// Main section - Search bar
//

.main-container {
    padding-top: 12rem;
    margin-bottom: 5rem;

    &__heading {
        text-align: center;
        color: $colour-1;
        font-family: $title;
        font-weight: 700;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    p {
        color: $colour-2;
        text-align: center;
    }
}

.search-bar-wrapper {
    position: relative;
    display: flex;
    min-width: 16rem;
}

#recipe-form {
    &__search-bar {
        background-color: rgba($colour-2, 0.2);
        width: 100%;
        font-size: 1.6rem;
        border: 0;
        border-radius: 3rem;
        height: 4rem;
        padding: 0 2rem 0.2rem 4rem;
        outline: 0;
        margin-top: 3rem;

        @include bp(mobile) {
            width: 80%;
            margin: 0 auto;
            margin-top: 3rem;
        }

        @include bp(desktop) {
            width: 80%;
            margin: 0 auto;
            margin-top: 3rem;
        }
    }

    &__search-icon {
        position: absolute;
        top: 4.3rem;
        left: 1rem;
        width: 1.6rem;
        color: $colour-1;
        font-size: $normal-text-size;

        @include bp(mobile) {
            left: 8rem;
        }

        @include bp(desktop) {
            left: 10rem;
        }

        @include bp(desktop-large) {
            left: 11.5rem;
        }
    }

    &__clear-icon {
        position: absolute;
        top: 4.3rem;
        right: 1rem;
        width: 1.6rem;
        cursor: pointer;
        color: $colour-1;
        visibility: hidden;
        font-size: $normal-text-size;

        @include bp(mobile) {
            right: 7.5rem;
            visibility: hidden;
        }

        @include bp(desktop) {
            right: 10rem;
            visibility: hidden;
        }

        @include bp(desktop-large) {
            right: 11rem;
        }
    }
}

.recipe-form-checkbox {
    margin-top: 3rem;

    label {
        font-size: 1.6rem;
        color: $colour-1;
        left: 30%;
        margin: 1rem 0;

        @include bp(mobile) {
            left: 35%;
            margin: 0.5rem 0;
        }
    }

    input {
        margin-right: 1rem;
    }

    &__search-button {
        background-color: $colour-1;
        width: 10rem;
        height: 4rem;
        font-size: 1.6rem;
        border: 0;
        border-radius: 1rem;
        outline: 0;
        color: $white;
        cursor: pointer;

        &:hover {
            background-color: rgba($colour-1, 0.8);
        }
    }

    &__search-wrapper {
        @include flexbox;
        padding-top: 5rem;
    }

    &__labels {
            @include bp(desktop) {
                left: 0;
            }
        }
}

//Checkbox style from https://css-tricks.com/the-checkbox-hack/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 0.2rem solid rgba($colour-2, 0.3);
    background: #fff;
    border-radius: 0.4rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: "\2713\0020";
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    line-height: 1;
    color: $white;
    background-color: $colour-1;
    border-radius: 0.4rem;
    transition: all 0.2s;
    font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
    padding-left: 0.2rem;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

//Overwrite autofill bg-colour on search bar https://selleo.com/til/posts/xhgzlfgcql-a-way-to-make-autofilled-inputs-background-transparent
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: $colour-2 !important;
}

//Recipe cards - main section - search bar
.card {
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: $normal-text;
    color: $colour-2;

    &__title {
        margin-top: 1rem;
        font-size: 1.5rem;
        color: $colour-1;
        font-weight: 700;
        padding: 0 1rem;
    }

    span {
        font-size: 1.2rem;
        font-weight: 700;
    }

    li {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 1.2rem;
        background-color: $colour-1;
        border-color: $colour-1;
    }

    .badge {
        background-color: rgba($colour-2, 0.3);
        margin: 0.4rem;
        color: $colour-2;
        font-size: 1rem;
    }
}

.card__main {
    width: 75%;
}