//
// Nav
//

.navbar {
    padding-top: 1rem;
    z-index: 999;
}

.navbar-light .navbar-nav .nav-link {
    color: $colour-1;

    &:hover {
        text-decoration: underline;
        color: $colour-1;
    }
}

.navbar-light .navbar-toggler {
    border-color: $colour-1;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../images/icons/toggler-icon.svg");
}

#logo {
    height: 3rem;
    margin-bottom: 1rem;

    @include bp(mobile) {
        height: 4rem;
        margin-bottom: 1rem;
    }
}

.navbar-expand-lg .navbar-collapse {
    @include bp(desktop) {
        justify-content: flex-end;
    }
    
}