//
// Nutritional info Section
//

.nutrition-image {
    background: url("../images/caju-gomes-unsplash.jpg") no-repeat center;
    object-fit: cover;
    background-size: cover;
    height: 20rem;
    width: 100%;

    @include bp(tablet) {
        height: 25rem;
    }
}

.nutrition-container {

    h2 {
        color: $colour-1;
        font-size: 3rem;
        font-family: $title;
        font-weight: 500;
        padding-top: 5rem;

        &::after {
            top: 15%;
            content: "";
            position: absolute;
            left: 1.5rem;
            width: 5rem;
            max-width: 20%;
            height: 0.2rem;
            background-color: $colour-1;

            @include bp(desktop) {
                top: 25%;
            }
        }

        @include bp(desktop) {
            padding-top: 8rem;
        }
    }

    p {
        color: $colour-3;
        font-size: 1.6rem;
    }

    &__heading {
        padding: 6rem 0 4rem 0;
    }

    textarea {
        font-size: 1.6rem;
        background-color: rgba($colour-2, 0.2);
        color: $colour-2;
        border-radius: 0;
        box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.12);

        &:focus {
            color: $colour-2;
            background-color: rgba($colour-2, 0.1);
            border-color: $colour-2;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($colour-2, 0.25);
        }
    }

    label {
        color: $colour-3;
        font-size: 1.2rem;
    }

    &__search-button {
        @include flexbox;
        margin: 3rem 0;
    }

    button {
        background-color: $colour-1;
        border: 0.1rem solid $white;
        width: 10rem;
        height: 4rem;
        font-size: 1.6rem;
        border-radius: 1rem;
        outline: 0;
        color: $white;
        cursor: pointer;

        &:hover {
            background-color: $colour-3;
        }

        &:focus {
            outline: 0.2rem auto $colour-2;
        }
    }

    h3 {
        color: $colour-3;
        padding: 2rem 0 1rem 0;
        font-size: 2rem;
        font-weight: 700;
    }

    &__check {
        .d-flex {
            margin-top: 0.25rem;
        }

        p {
            margin-left: 1rem;
        }

        .fill {
            fill: $colour-1;
        }
    }
}

.nutrition-container__heading-tables {
    margin: 2rem 0;

    h4 {
        font-size: 1.8rem;
        margin-top: 2rem;
        font-weight: 600;
        color: $colour-1;
    }
    p {
        color: rgba($colour-3, 0.5);
    }
}

#nutrition-container__tables {
    display: none;
}

.nutrition-container__ingredient-table {
    margin-bottom: 3rem;

    .table th {
        font-size: $normal-text-size;
        font-weight: 500;
        color: $colour-2;
    }

    .table thead th {
        font-weight: 700;
    }

    @include bp(mobile) {
        max-width: 70%;
        margin: 0 auto;
    }
}

.nutritional-values {
    border: 0.2rem solid rgba($colour-2, 0.1);
    padding: 1rem;
    margin-bottom: 4rem;

    h3 {
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        padding: 1rem 0 0 0;
    }

    &__header {
        border-bottom: 0.3rem solid rgba($colour-2, 0.1);
        padding: 0 0 0.25rem 0;
        margin: 0 0 0.5rem 0;
    }

    .table th {
        font-weight: 500;
        font-size: $normal-text-size;
        color: $colour-2;
    }

    #nutritional-values__table-amount {
        font-size: 1.2rem;
    }

    #nutritional-values__table-cal th,
    #nutritional-values__table-cal td {
        font-size: 2.5rem;
        color: $colour-2;
    }

    span {
        font-weight: 700;
        font-size: $normal-text-size;
        color: $colour-2;
    }

    thead th,
    thead td {
        border: 0 none;
    }

    td:last-child {
        text-align: right;
        padding-right: 1.7rem;
    }

    #nutritional-values__table-daily {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.2rem;
        text-align: center;
        padding-top: 2rem;
        color: $colour-2;
    }

    .thick-row {
        border-top: 0.2rem solid rgba($colour-2, 0.1);
    }

    @include bp(mobile) {
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
}