//
// Nutritional info Section
//

.nutrition-container {
    background-color: $colour-1;

    h2 {
        color: $white;
    }

    p {
        color: $white;
    }

    textarea {
        font-size: 1.6rem;
    }

}