//
// Recipe cards - main section - search bar
//

.card {
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: $normal-text;
    color: $colour-2;

    .card-title {
        font-size: 1.5rem;
        color: $colour-1;
        font-weight: 700;
    }

    span {
        font-size: 1.4rem;
        font-weight: 700;
    }

    li {
        font-size: 1.4rem;
    }

    .btn {
        font-size: 1.4rem;
        background-color: $colour-1;
        border-color: $colour-1;
    }

}

.card__main {
    width: 75%;
}





