@import './variables';
@import './banner-header';
@import './nav';
@import './main-section';
@import './inspiration-section';
@import './nutritional-info-section';
@import './footer';
@import './contact';
@import './scroll-top';
@import './error-handling';

//
// General Styling
//

* {
    font-size: 10px;
    margin: 0;
}

h2 {
    font-size: 3.2rem;
}

p,
a {
    font-size: 1.6rem;
}

body,
footer {
    font-family: $normal-text;
}

